.carousel-item{
  transform: scale(1);
  max-height: 100vh;
  min-height: calc(100vh-180px);
  overflow: hidden;

}
.sliderTitle{
  font-family: Roboto;
  font-size: 50px;
  display: none;
  top: calc(50vh - height);
  left: -10vw;
  color:white;
  position: absolute;
  transition: all 0.5s;
  background-color: rgba(0,0,0,0.3);
  padding: 5px 15px;
}
.active .sliderTitle{
  display: block;
  top: 50vh;
  left: 10vw;
}
.sliderSubtitle{
  display: none;
  top: 50vh;
  left: -10vw;
  color:white;
  position: absolute;
  transition: all 0.5s;
  background-color: rgba(0,0,0,0.3);
  padding: 5px 15px;
}
.active .sliderSubtitle{
  display: block;
  top: 50vh;
  margin-top: 100px;
  left: 10vw;
}
#carouselExampleIndicators{
  position: relative;
  min-height: 100vh;

}
.containerVideobg {
  background-color: var(--second);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
  padding: 0 !important;
  max-height: 100vh;
  overflow: hidden;
}
.videoSliderBackground{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  min-width: 100vh;
  min-height: 100vh;
}
.videoSlider{
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;
  width: 40%;
  transition: all 0.5s;
  border: 10px solid var(--primary);
  background-color: var(--primary);
  box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
}
.elVideo{
  width: 100%;
  height: 100%;
}
.active {
  
}
.active .videoSlider{
  margin-top: 0;
  width: 100%;
  border: none;
  box-shadow: none;
}

.slider-desktop{
  display: block;
}

.slider-mb {
  display: none;
}



/* CAROUSEL */
.carousel-img {
  height: 80vh;
  position: relative;
  width: 100%;
}
/* .carousel-img::after {
    position: absolute;
    background-color: rgb(0 0 0 0.5);
    opacity: 0.5;
    inset: 0px;
  }  */

  .carousel-text1 {
    position: absolute;
    top: 20%;
    left: 100px;
    right: 0;
    width: 100%;
    margin: 0px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  .carousel-inner-wrapper1 {
    margin: 0px auto;
    padding: 20px;
    width: 100%;
    display: grid;
    place-content: center;
  }


  .carousel-text2 {
    position: absolute;
    top: 20%;
    right: -300px;
    width: 100%;
    margin: 0px auto;
    padding: 20px;
    display: flex;
    justify-content: end;
  }
  .carousel-inner-wrapper2 {
    margin: 0px auto;
    padding: 20px;
    width: 100%;
    display: grid;
    place-content: end;
  }

.carousel-text3 {
  position: absolute;
  top: 20%;
  left: 10px;
  width: 100%;
  margin: 0px auto;
  padding: 20px;
  display: flex;
  justify-content: end;
}
.carousel-inner-wrapper3 {
  margin: 0px auto;
  padding: 20px;
  width: 100%;
  display: grid;
  place-content: start;
}

.carousel-inner-wrapper1 h3{
  /* color: #fff; */
  text-align: center;
  font-weight: 600;
  font-size: 50px;
  width: 70%;
  text-align: center;
  letter-spacing: 0.2px;
  padding-left: 100px;
}
.carousel-inner-wrapper2 h3,.carousel-inner-wrapper3 h3 {
  /* color: #fff; */
  text-align: end;
  font-weight: 600;
  font-size: 50px;
  width: 70%;
  text-align: start;
  letter-spacing: 0.2px;
}

.carousel-inner-wrapper1 p{
  /* color: #fff; */
  font-size: 20px;
  width: 80%;
  text-align: center;
  opacity: 0.9;
  letter-spacing: 0.4px;
  padding: 0 100px;
}
.carousel-inner-wrapper2 p,.carousel-inner-wrapper3 p {
  /* color: #fff; */
  font-size: 20px;
  width: 70%;
  text-align: start;
  opacity: 0.9;
  letter-spacing: 0.4px;
}









/*   fsdsfsdgsg */
.technology-col-img {
  width: 100% !important;
  height: 550px;
}
.technology-text-wrapper {
  background-color: #000249;
  height: 550px;
  display: flex;
  align-items: center;
}
.technology-text {
  padding: 50px;
}
.technology-text p {
  color: #fff;
}
.setion-company-info{
  position: relative;
  margin: 0px 50px;
  
}
.company-info-wrapper{
  background: #fff;
  box-shadow: 0px 0px 1px 1px rgb(225, 225, 225, 0.7);
  position: absolute;
  top: -49px;
  z-index: 1;
  left: 0;
  padding: 20px;
  text-align: center;
  border-radius: 5px;

}
/* section 2 */
.AboutSection-2 {
  background: #e5e5e5;
  padding: 50px;
  display: flex;
  justify-content: center;
  padding: 100px 250px;
  position: relative;
}
.AboutSection-2_bg {
  background: #fff;
  position: relative;
  height: 1071px;
  width: 744px;
  margin: 60px auto 0;
}
.AboutSection-2Wrapper {
  display: flex;
  flex-direction: column;
}
.AboutSection-2_imageWrapper {
  position: absolute;
  top: -64px;
  left: -135px;
}
.AboutSection-2_Img img {
  width: 500px;
  height: 500px;
  /* background: url("../Images/aboutUsSection2.jpg"); */
  border-radius: 50%;
  background-position: 50% 10%;
}
.aboutsectionTextWrapper {
  position: absolute;
  top: 0;
  left: 55%;
  width: 60%;
}

.aboutsectionText h3 {
  color: #000249;
  padding-bottom: 20px;
}

.aboutsectionText p {
  color: #6b6969;
}
.aboutusSection-2_cardsBody {
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
}
.aboutsectionText {
  padding: 50px 0px;
}
/* .aboutsectionText p {
  width: 100%;
} */
.training,
.consulting,
.placement {
  color: #6b6969;
  background: #e8e9ee;
  padding: 30px;
}

.training h3,
.consulting h3,
.placement h3 {
  color: #000249;
}

.cardsWrapper {
  padding: 10px 20px;
}

/* section 3 */
.AboutSection-3 {
  background: url("../Images/aboutbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}
.whatElse-body {
  padding-right: 74.5px;
  position: relative;
}
.whatElseWeDo-right {
  background-color: rgb(0, 0, 0, 0.7);
}
.whatElseWeDo-right-content {
  padding: 30px;
}
.whatElseHeading h3,
.whatElseText p {
  color: #fff;
}

@media (max-width: 767px) {
  .AboutSection-2_bg {
    width: 420px;
    height: 1772px;
    margin-top: 50px;
  }
}

@media (max-width: 575px) {
  .AboutSection-2_bg {
    width: 252px;
    height: 1836px;
    margin-top: 221px;
  }
}
/*
@media (max-width: 991px)
.u-section-2 .u-shape-1 {
    width: 484px;
    height: 1680px;
    margin-top: 60px;
} */
